<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.redandelion.seeha.core.sys.mapper.FunctionMapper">
    <resultMap id="BaseResultMap" type="cn.redandelion.seeha.core.sys.dto.Function">
        <result column="FUNCTION_ID" property="functionId"  />
        <result column="MODULE_CODE" property="moduleCode" jdbcType="VARCHAR" />
        <result column="FUNCTION_ICON" property="functionIcon" jdbcType="VARCHAR" />
        <result column="FUNCTION_CODE" property="functionCode" jdbcType="VARCHAR" />
        <result column="FUNCTION_NAME" property="functionName" jdbcType="VARCHAR" />
        <result column="FUNCTION_DESCRIPTION" property="functionName" jdbcType="VARCHAR" />
        <result column="RESOURCE_ID" property="resourceId"  />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="PARENT_FUNCTION_ID" property="parentFunctionId"  />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="FUNCTION_SEQUENCE" property="functionSequence" jdbcType="DECIMAL" />
    </resultMap>

</mapper>