<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="${request.contextPath}/js/jquery-1.12.3.js"></script>

		<script src="${request.contextPath}/bootstrap-3.3.7/js/bootstrap.min.js"></script>

		<script src="${request.contextPath}/js/kendo.all.min.js"></script>
		<script src="${request.contextPath}/css/layout/js/jquery.slimscroll.min.js" type="text/javascript"></script>
		<script src="${request.contextPath}/css/layout/js/app.js" type="text/javascript"></script>
		<script src="${request.contextPath}/css/layout/js/bootbox.min.js" type="text/javascript"></script>
		<script src="${request.contextPath}/css/layout/js/layout.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="${request.contextPath}/css/kendo.common.min.css" />
		<link rel="stylesheet" href="${request.contextPath}/bootstrap-3.3.7/css/bootstrap.css" />
		<link rel="stylesheet" href="${request.contextPath}/css/font-awesome-4.6.3/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="${request.contextPath}/css/kendo.common-bootstrap.min.css" />
	    <link rel="stylesheet" href="${request.contextPath}/css/kendo.material.min.css" />
	    <link rel="stylesheet" href="${request.contextPath}/css/kendo.uniform.min.css"/>
		<link rel="stylesheet" href="${request.contextPath}/css/layout/layout.css"/>
		<link rel="stylesheet" href="${request.contextPath}/css/layout/custom.css"/>
		<link rel="stylesheet" href="${request.contextPath}/css/layout/themes/default.css"/>
	</head>

	<style type="text/css">
		.nav > li > a:focus, .nav > li > a:hover {
			background-color: inherit !important;
		}
		.nav > li > a:focus, .nav > li > a:hover {
			background-color: inherit !important;
		}
		
	</style>

	<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-sidebar-fixed">

	<div class="page-header navbar navbar-fixed-top">
		<div class="page-header-inner ">
			<div class="page-logo">
				<a href="index.html">

					<span class="page-title">${SYS_TITLE!'Application Redandelion'}</span>
				</a>
				<div class="menu-toggler sidebar-toggler"></div>
			</div>
			<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
			<div id="page-nav" class="page-actions" style="display: none">
				<div class="btn-group">
					<button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="hidden-sm hidden-xs"> &nbsp;</span>
						<i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu" id="tabstrip-menu" role="menu"></ul>
				</div>
			</div>
			<div class="page-top">
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown dropdown-user dropdown-dark">
							<a href="${request.contextPath}/sys/sys_shortcut.html"
							   title=""
							   style="height: 75px;padding: 28px 10px 18px;" data-target="#long"
							   data-toggle="modal">
								<i class="fa fa-television" style="color: #aeb2c4;"></i>
								<span class="username username-hide-on-mobile" style="color: #aeb2c4;"></span>
							</a>
						</li>
						<#if rer??>
							<li id="AShortcut" class="dropdown dropdown-user dropdown-dark" style="display: none">
								<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
								   data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile"
										  style="height: 30px;padding-top: 4px;"></span></a>
								<ul class="dropdown-menu dropdown-menu-default">
									<#list SYS_USER_ROLES as roles>
										<li>
											<#if roles.roleId == CURRENT_USER_ROLE>
												<a href="javascript:;">
													<i class="icon-user" style="color: #3598dc"></i>
													<#else>
														<a href="${request.contextPath}/sys/role/change?roleId=${roles.roleId}">
															<i class="icon-user"></i>
											</#if>
											${roles.roleName}!'redandelion'</a>
										</li>
									</#list>
								</ul>
							</li>
						</#if>

						<li class="dropdown dropdown-user dropdown-dark">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<span class="username username-hide-on-mobile"></span>
								<!--<img alt="" class="img-circle" src="${request.contextPath}/lib/assets/layouts/layout4/img/avatar9.jpg" /> </a>-->
							<ul class="dropdown-menu dropdown-menu-default">
								<li>
									<a href="javascript:myProfile();">
										<i class="icon-user"></i>

									</a>
								</li>
								<li>
									<a href="javascript:sysPreferences();">
										<i class="fa fa-cogs"></i>

									</a>
								</li>
								<li class="divider"> </li>
								<li>
									<a href="javascript:logout();">
										<i class="icon-key"></i>

									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="long" role="basic" style="padding-top: 110px">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 700px; height:550px">
				<div class="modal-body">
					<div id="page-content"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">确认框</h4>
				</div>
				<div class="modal-body">
					<p> 添入成功</p>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Continue Task</button>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<div class="page-container">
		<div class="page-sidebar-wrapper">
			<div class="page-sidebar navbar-collapse collapse">
				<ul id="page-sidebar-menu" class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200"></ul>
			</div>
		</div>

		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="page-head"  style="display: none">
					<div class="page-title" style="display: inline-block">
						<h1 id="page-title"></h1>
					</div>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button" data-close-others="true" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">

								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" id="page-button" role="menu" style="min-width: 135px">
							</ul>
						</div>
					</div>
				</div>
				<div class="page-content-main">
					<div id="page-content-loading">
						<i class="fa fa-refresh fa-spin"></i>
						<span></span>
					</div>

					<div id="mainTab" style="position:absolute;left:-10000px;top:-10000px;outline: 0 !important;"></div>
				</div>
			</div>
		</div>
	</div>
	<script>
    var menuItems = [];
//    加载菜单
	function loadMenu(){
	$.ajax({
		type: 'GET',
		url: '${request.contextPath}/sys/rolemenu',
		contentType: "application/json; charset=utf-8",
		success: function (data) {
		var html=['<li class="nav-item start active"><a id="link_home" href="javascript:openTab(\'home\',\'"主页"\', \'home.html\');" class="nav-link"><i class="icon-home"></i><span class="title">主页</span></a></li>'];

		datas = [].concat(data.rows);
		console.log(datas);
		createMenu(html,datas, true);
		$("#page-sidebar-menu").append(html.join(''));
		menuItems = convertToLine(datas);
		}
		});
	}
//	创建菜单
    function createMenu(html,datas, top){
        for(var i=0;i<datas.length;i++){
            var data = datas[i];
            html.push('<li class="nav-item">');
            if(data.children){
                html.push('<a href="javascript:;" class="nav-link">');
                html.push('<i class="'+(data.icon||'fa fa-cube')+'"></i>');
                // if(top){
                html.push('<span class="title">' + data.text + '</span>');
                // }else {
                //  html.push(data.text);
                //  }
                html.push('<span class="arrow"></span></a><ul class="sub-menu">');
                createMenu(html,data.children);
                html.push('</ul>')
            } else if(data.url){
                html.push('<a class="nav-link" id="link_'+data.functionCode+'" href="javascript:openTab(\''+data.functionCode+'\',\''+data.text+'\', \''+data.url+'\')">');
                html.push('<i class="'+(data.icon||'')+'"></i>');
                html.push('<span class="title">' + data.text + '</span>');
                html.push('</a>')
            }
            html.push('</li>')
        }
    }

    var menuItems = [];
    //将tree形的数据转换成线形数据
    function convertToLine(datas){
        var arr=[];
        function build(d){
            if (d.children) {
                $.each(d.children,function(i,r){
                    build(r);
                });
            }else{
                //将数据转换使实现text和code双查询
                d.codeAndText=d.functionCode+d.text;
                arr.push(d);
            }
        }
        $.each(datas,function(i,r){
            build(r);
        });

        arr.push({
            functionCode:"MY_PROFILE",
            icon:"icon-user",
            text:'用户信息',
            url:"${request.contextPath}/sys/um/sys_user_info.html"
        })
        arr.push({
            functionCode:"SYS_PREFERENCE",
            icon:"icon-user",
            text:'系统配置',
            url:"${request.contextPath}/sys/um/sys_preferences.html"
        })
        return arr;
    }
    loadMenu();
    var nav = 0
    function openTab(id,title,url, closeIcon){
        var mainTab = $("#mainTab").data("kendoTabStrip");
        $('html,body').animate({
            scrollTop: 0
        }, 'fast');
        if(nav != "Y"){
            if($.inArray(id, mainTab.tabids) == -1){
                this.showTabLoading(true)
            }
        }

        if(url.indexOf('?') == -1){
            url += '?functionCode=' + id;
        }else{
            url += '&functionCode=' + id;
        }

        mainTab.append({
            text : title,
            tabid : id,
            contentIframe : url,
            closeIcon: closeIcon = closeIcon === undefined ? true : closeIcon,
            encoded: false
        });
        if(nav == "Y"){
            $('#mainTab').children(".k-state-active");
        }
    }


//	初始化

	</script>
	</body>
</html>
